{% extends 'image/base.html' %}
{% block title %}{{ imagefolder }}{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!--header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-family: 'Satisfy', cursive;border-radius: 0;">Welcome to AbdulRashid Datacenter</a>
        </div>
        <!--items-->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'image:index' %}">
                        <span class="glyphicon glyphicon-folders" aria-hidden="true"></span>&nbsp;
                        Folders
                    </a>
                    <li class="">
                    <a href="{% url 'video:home_return' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                        Home
                    </a>
                 </li>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="" >
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                 <li class="">
                    <a href="{% url 'image:create_folder' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Create Folder
                    </a>
                </li>
                 <li class="">
                    <a href="{% url 'video:logout_user'%}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Folder Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'image:detail' imagefolder.id %}">
                        {% if imagefolder.folder_logo %}
                            <img src="{{ imagefolder.folder_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ imagefolder.folder_title }} </h1>

                </div>
            </div>
        </div>

        <!-- Right Video Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'image:detail' imagefolder.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'image:create_image' imagefolder.id %}">Add New image</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All image</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>image File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for image in imagefolder.image_set.all %}
                            <tr>
                                <td>{{ image.image_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ image.image_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Show
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="btn-favorite"><span class="glyphicon glyphicon-star {% if image.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'image:delete_image' imagefolder.id image.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="image_id" value="{{ image.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
